*{
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#navbar{
    height:17vh;
    box-shadow: 0px 0px 7px rgb(205, 202, 202);
    position: sticky;
    cursor: pointer;
    position: relative;
}
#logo{
    height: 150px;
    width: 150px;
}
#sol_id{
    border: none;
}
#top-section,#bottom-section{
    margin-left: 80px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom-section{
    width: 50%;
}
#top-section #ul,#bottom-section #ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 80%;
}
#icon{
    font-size: x-large;
}
#li1,#li2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
#li2:hover{
    color: purple;
}
#nav-items:hover{
    color: purple;
    border-bottom: 2px solid purple;
}
#pop-up{
    display: none;
    height: 350px;
    width: 40vw;
    position: absolute;
    z-index: 10;
    top: 50%;
    background-color:white;
    margin-left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 4px grey;
}
.sol:hover #pop-up{
    display: block;
}
#bcd{
    color: grey;
}
#pop-up1{
    height: 20%;
    width: 90%;
    border-bottom: 2px dashed purple;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin-left: 40px;
}
#pop-up2{
    height: 60%;
    width:90%;
    display: flex;
    border-bottom: 1px solid purple;
}
#pop-up3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
}
#pop-up21,#pop-up22{
    height: 100%;
    width: 50%;
    text-align: left;
    line-height: 30px;
}
#pop-up21 ul, #pop-up22 ul{
    list-style: none;
}
#pop-up21 h3,#pop-up22 h3{
    margin-top: 5px;
    margin-left: 37px;
}
#pinkone{
    background-color: rgb(245, 82, 163);
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
#demo{
    border: 1px solid purple;
    color: purple;
    border-radius: 10px;
    padding: 15px;
    font-weight:bold ;
    width: 130px;
    margin: 0px 17px;
}
#demo:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}
#main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
}
#margin{
    height: 20px;
    width: 100vw;
    border-bottom: 1px solid rgb(171, 166, 166);
}
#left{
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#left-1{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:10px 30px 20px;
    line-height: 40px;
}
#left-1 a{
    color: black;
}
#left-1 a:hover{
    color: purple;
}
#apps{
    width: 50%;
}
#scl-icons{
    font-size: x-large;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-radius: 50%;
    color: white;
}
#app-icons{
    margin-bottom: 30px;
}
#app-icons ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#card{
    color: white;
    margin-left: 40px;
    border-radius: 20px;
    width: 350px;
    height: 300px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(155, 48, 132), rgb(235, 23, 189));
}
#card ol{
    text-align: left;
}
#left-btn{
    background-color:black;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    padding: 15px;
    width: 230px;
    font-size:medium;
    margin: 10px 0px;
}

#right{
    height: 100vh;
    width:65vw; 
    left: 35vw;
    top: 17vh;
    overflow-y: scroll;
}
#right-1{
    width:100%;
    position: relative;
}
#right-img{
    width: 100%;
    object-fit: fill;
}
#para1,#para2{
    margin: 20px 6px;
    line-height: 25px;
    text-align: justify;
}
#vv{
   width: 100%;
   margin: 10px 0px;
}
#card2{
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(to bottom,purple,hotpink);
}
#c2-part1, #c2-part2{
    width: 50%;
    height: 100%;
    line-height: 35px;
    margin-top: 30px;
}
#c2-part1{
    margin-left: 30px;
}
#c2-part2{
    margin-right: 30px;
}
#c2-h1{
    margin: 10px 10px;
}
#top{
    display: flex;
    align-items: center;
    height: 300px;
    margin: 10px 0px;
}
#c2-img{
    height: 100%;
    width: 100%;
}
#btm-btn{
    background-color:black;
    color: white;
    height: 50px;
    font-size: large;
    width: 230px;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-bottom: 10px;
}
#bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
#mns{
    height: 300px;
    width: 750px;
    background-color: purple;
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    box-shadow: 0px 0px 4px grey;
    display: none;
}
.res:hover #mns{
    display: block;
}
#mns1{
    height: 100%;
    background-color: white;
    width: 67%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    border-bottom-left-radius: 20px;
}
#mns1 div{
    height: 70%;
    border-bottom-left-radius: 20px;
}
#mns1 ul{
    list-style: none;
}
#mns1 h3{
    margin-left: 37px;
    margin-bottom: 20px;
}
#mns2{
    background-color: purple;
    border-bottom-right-radius:20px ;
    width: 33%;
}
#arrow a{
    color: white;
}
#arrow{
    position: absolute;
    background-color: purple;
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border-radius: 50%;
    margin-top: 400px;
    margin-left: 1150px;
}
footer div{
    line-height: 40px;
    padding: 20px;
}
footer div b{
    color: rgb(145, 144, 144);
}
footer div p{
    color: rgb(189, 188, 188);
}
footer{
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(5,20%);
}

#footer{
    height: 60px;
    width: 100vw;
    background-color: rgb(249, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}